{% extends admin.getTemplate('base_list_field') %}

{% block field %}
    {% if object.archive %}
        <span class="label label-success">в архиве</span>
    {% else %}
        {% if object.flatsEvents | length %}
            {% set is_next_events = false %}
            {% for flatEvent in object.flatsEvents %}
                {% set next_event = get_next_event(flatEvent) %}
                {% if next_event %}
                    <span><b>{{ next_event.event.name }}({{ next_event.dateGenerate.format('d.m.Y') }})</b></span>
                    <a href="{{ path('admin_app_flat_perform', {flat_id: flatEvent.flat.id, event: flatEvent.event.alias}) }}">Выполнить</a>
                    <a href="{{ path('admin_app_flat_miss', {flat_id: flatEvent.flat.id, event: flatEvent.event.alias}) }}">Пропустить</a>
                    <br>
                    {% set is_next_events = true %}
                {% endif %}
            {% endfor %}
            {% if not is_next_events %}
                <span class="label label-success">ожидает действий пользователя</span>
            {% endif %}
            <a href="{{ path('admin_app_flat_finish', {flat_id: object.id}) }}">Завершить работу с помещением</a>
        {% else %}
            <span class="label label-success">отсутствует</span>
        {% endif %}
    {% endif %}
{% endblock %}