{% extends '@SonataAdmin/standard_layout.html.twig' %}

{% block body_attributes %}
    {{ parent() }}
    ng-app="cms" ng-controller="CoreCtrl"
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
        'bundles/app/css/libs.min.css'
        'bundles/app/css/loader.css'
        'bundles/app/css/toggle-card.css'
        filter='cssrewrite'
    %}
        <link rel="stylesheet" href="{{ asset(asset_url, 'css') }}">
    {% endstylesheets %}
{% endblock %}

{% block sonata_javascript_pool %}
    {{ parent() }}
    {% javascripts
        '@libsjs'
        '@cmsjs'
        '@cms_flat'
    %}
    <script type="text/javascript" src="{{ asset(asset_url, 'js') }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block sonata_top_nav_menu %}
    <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-address-card" aria-hidden="true"></i>
                    {% if app.user.fullName %}
                        {{ app.user.fullName }}
                    {% else %}
                        {{ app.user.username }}
                    {% endif %}
                </a>
            </li>
            {% block sonata_top_nav_menu_user_block %}
                <li class="dropdown user-menu">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw" aria-hidden="true"></i> <i class="fa fa-caret-down" aria-hidden="true"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li>
                            <a href="{{ path('fos_user_security_logout') }}"><i class="fa fa-sign-out"></i>Выйти</a>
                        </li>
                    </ul>
                </li>
            {% endblock %}
        </ul>
    </div>
{% endblock %}