<li>
    <a class="sonata-action-element" href="{{ admin.generateUrl('create') }}">
        <i class="fa fa-plus-circle" aria-hidden="true"></i>
        {{ 'link_action_create'|trans({}, 'SonataAdminBundle') }}
    </a>
</li>
<li>
    <a class="sonata-action-element" href="{{ path('admin_app_city_create') }}" target="_blank">
        <i class="fa fa-plus-circle" aria-hidden="true"></i>
        Добавить город
    </a>
</li>
<li>
    <a class="sonata-action-element" href="{{ path('admin_app_street_create') }}" target="_blank">
        <i class="fa fa-plus-circle" aria-hidden="true"></i>
        Добавить улицу
    </a>
</li>
<li>
    <a class="sonata-action-element" href="{{ path('admin_app_house_create') }}" target="_blank">
        <i class="fa fa-plus-circle" aria-hidden="true"></i>
        Добавить дом
    </a>
</li>
